.bar-graph-container {
    width: 500px;
    height: 300px;
    background: gray;
    display: flex;
    border: thin solid black;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.bar-graph-y-container {
    flex: 1;
    display: flex;
    align-content: flex-end;
    flex-direction: row;
}

.bar-graph-y-axis {
    flex-shrink: 1;
    display: flex;
    padding-left: 4px;
    width: 60px;
    text-align: center;
}

.bar-graph-y-axis-label {
    flex-shrink: 1;
    text-align: left;
    position: relative;
    width: 28px;
}

.bar-graph-y-label-rotation {
    transform: rotate(90deg);
    width: 60px;
    position: absolute;
    top: 38%;
    left: 9px;
    transform-origin: left;
}

.bar-graph-y-axis-markings {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.bar-graph-y-axis-marker-line {
    border-top: 1px solid black;
    width: calc(100% - 35px);
    align-self: flex-end;
}

.bar-graph-y-axis-marker {
    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.bar-graph-y-axis-marker:first-child .bar-graph-y-axis-marker-line {
    border-top: none;
}

.bar-graph-y-axis-marker-label {
    flex: 1;
    width: 50px;
}

.bar-graph-x-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bar-graph-x-axis {
    flex-shrink: 1;
}

.bar-graph-x-axis-label {
    display: flex;
    justify-content: center;
}

.bar-graph-data-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    background-color: white;
    color: black;
}

.bar-graph-data-entry {
    display: flex;
    align-items: flex-end;
}

.bar-graph-data-entry-bar {
    background-color: green;
    width: 75px;
    text-align: center;
}